LOCAL_PORT=3456 # the port on localhost that you'll send API queries to, for Banana Phone to process them.
DESTINATION_API=http://localhost:1234 # the address & port of your destination API, e.g. LM Studio Server or comparable.
ENDPOINT_COMPLETIONS=/v1/chat/completions # only included to improve portability to other / future API endpoints.
ENDPOINT_MODELS=/v1/models # same as above, this likely will not change often.
API_KEYS=ring-banana-phone,banana-phone-ring-ring # add as many API keys as you like, separated by coommas without space. Guve some to your friends, have a grand 'ol time. Or remove them altogether (i.e. API_KEY="") for unfettered access. 
WAN_ENABLED=false # this determines whether the server accepts requests only locally on the machine, or from anywhere.
AUTOSTYLE=true # this enables automatic styling of messages with the prefixes and suffixes and stops defined in models.json. Make sure not to enable it here or on your inferencing server but not both.
SYSTEM_MSG="You are a helpful AI." # this is the default, used if a query didn't come with a system message.
SYSTEM_OVERRIDE=false # this makes the default into a mandatory override, replacing any existing server message with SYSTEM_MSG and otherwise adding it if there was none.
